@import "../../global.scss";

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.roomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundColor ;
}

.roomWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 10px;
    background-color: $backgroundColor;
    flex-direction: column;
    position: relative;
}

.roomTop {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 10px;
    top: 100px;
}

.roomRight {
    flex: 3;
}

.roomLeft {
    flex: 1;
    position: sticky;
    top: 90px;
    height: 250px;

    .vrOption {
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    width: 250px;

        span {
            font-size: 20px;
            font-weight: 600;
        }

        .headSet {
            width: 50px;
            height: 50px;
        }
    }

    .roomDetails {
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        span {
            font-size: 15px;
        }

        p {
            font-weight: bold;
        }
    }

    .roomPrice {
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            margin: 5px;
        }

        span {
            color: #49D62F;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .roomReservation {
        display: flex;
        justify-content: center;
        align-items: center;

        .bookBtn {
            background-color: $buttonColor;
            color: white;
            border: none;
            border-radius: 25px;
            width: 250px;
            height: 40px;
            font-weight: 700;
            cursor: pointer;
        }
    }
}



.roomImages {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    padding: 10px;

    .RoomMainImage {
        width: 100%;
        margin-bottom: 10px;

        .roomMainImg {
            border-radius: 10px;
            width: 100%;
            height: 450px;
            cursor: pointer;
        }
    }

    .roomSubImg {
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 10px;
    }
}

.roomImg {
    width: 235px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
}

.roomFeaturesLeft,
.roomFeaturesRight {
    display: flex;
    flex: 1;
    width: 100%;
}

.featureIcon {
    width: 25px;
    height: 25px;
}

.feature {
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: #fff;
}

.roomAmenity {
    width: 100%;
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.amenityIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    height: 114px;
    width: 180px;
    background-color: white;
    padding-top: 5px;
    position: relative;
}

.removeImg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.icon {
    width: 70px;
    height: 70px;
}

.seeMoreBtn {
    position: absolute;
    font-size: 20px;
    opacity: 0.8;
    width: 175px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    
}

.seeMoreBtn:hover {
    opacity: 1;
}

.lastImg {
    position: relative;
    width: 175px;
    height: 150px;
}

.lastImgBtn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.roomsBottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.roomCards {
    display: flex;
    justify-content: center;

}

.seeMoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &:hover {
        animation: 1.5s ease forwards;
    }
}

.seeMore {
    position: absolute;
    top: 92%;
    right: 25px;
    cursor: pointer;
    animation: move 1s infinite ease alternate;
    
        @keyframes move {
            from {
                transform: translateX(-5px);
            }
    
            to {
                transform: translateX(5px);
            }
        }
   
}

.seeMoreImg {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 100%;
    right: 5px;
    cursor: pointer;
    animation: moveArrow 1s infinite ease alternate;
    
        @keyframes moveArrow {
            from {
                transform: translateX(-5px);
            }
    
            to {
                transform: translateX(5px);
            }
        }
}



.RoomFeatures {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    margin-bottom: 50px;
}

.popup-content3 {
    width: 800px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: scroll;
    opacity: 0;
    animation: fade-in 1s ease forwards;

    h2 {
        color: #142662;
        text-align: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 10px;
        gap: 35px;

        li {
            width: 45%;
            list-style: none;
            height: 30px;
            display: flex;
            align-items: center;
            padding: 5px;
            font-size: 20px;
        }
    }
}

@keyframes popup-content3 {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Point {
    width: 25px;
    height: 25px;
}