.boykaSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .boykaSliderContainer {
        width: 1024px;
        .carousel-prev,
        .carousel-next {
            opacity: 0;
            // width: 50px;
            // height: 50px;
            // border-radius: 50%;
            // position: absolute;
            // top: 0;
            // bottom: 0;
            // margin: auto;
            // background-color: white;
        }
    }
}