.newPasswordContainer {
  width: 330px;
  height: 370px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-top: 5%;
  label {
    margin: 5px 0 5px 5px;
  }
  input {
    border: none;
    background-color: #efefef;
    border-radius: 50px;
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
    padding-left: 10px;
  }

  button {
    border: none;
    background-color: #142662;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
  }

  .newPasswordCol {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
  }

  p span {
    color: #8699DA;
    cursor: pointer;
  }
}