@import "../../global.scss";
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Outfit', sans-serif;
}
.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: backgroundColor ;
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 10px;
    background-color: backgroundColor;
}

.listResult {
    flex: 3;
}
.filterResult{
    flex: 1;
}

.starRating{
    input[type=checkbox]{
        accent-color: #142662;
    }
}
.Facilities{
    input[type=checkbox]{
        accent-color: #142662;
    }
}
.noHotelResult{
    text-align: center;
    
}

.headerSearchText{
    color: rgb(0, 0, 0);
        cursor: pointer;
        background-color: #efefef;
        border-radius: 50px;
        text-align: center;
        height: 35px;
        display: flex;
        align-items: center;
        width: 270px;
        justify-content: center;
}