.pay {
  display: flex;
  gap: 10px;

  span {
    color: #DA4040;
  }

  input {
    width: 100%;
    height: 2.75em;
    margin-bottom: 1em;
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding-left: 10px;
    box-sizing: border-box;
  }

  label {
    padding-left: 5px;
    margin-bottom: 10px;
  }

  select {
    width: 100%;
    height: 2.75em;
    margin-bottom: 1em;
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .payment {
    display: flex;
    flex: 3;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 20px 0;
    margin-bottom: 20px;
    
    box-sizing: border-box;

    .userInformationFields {
      display: flex;
      flex: 3;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      border-radius: 10px;

      .colShow {
        width: 49%;
        display: flex;
        flex-direction: column;
      }
    }


  }

  .paymentDetails {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    gap: 10px;
    // background-color: #fff;
    .HotelImg{
      width: 324px;
      border-radius: 10px 10px 3px 3px ;
    }
  }

  .paymentMethodContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .paymentMethod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

  }

  .left {
    width: 300px;
    // box-sizing: border-box;
  }

  .beside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  .colShow2 {
    display: flex;
    flex-direction: column;
  }

  .paymentImg {
    width: 200px;
    height: 200px;
  }

  .paymentMethod {
    box-sizing: border-box;
    padding: 20px;
    border: 5px solid #142662;
    border-radius: 10px;
    flex: 3;
    margin-bottom: 15px;
  }

  .smallInput {
    width: 135px;
  }

  .a7 {
    width: 300px;
  }

  
  .arrivalInfo{
    background-color: #fff;
    border-radius: 10px;
  }
  .arrivalInfoBottom{
    padding: 20px 20px 0;
    .refundable{
      color: #DA4040;
    }
  }
  .payPrice{
    background-color: #fff;
    padding: 0 20px;
        border-radius: 10px;
    .payRow{
      display: flex;
      justify-content: space-between;
    }
  }
}
.fade-in {
  opacity: 0;
  animation: fade-in 1.5s ease forwards;

}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}