.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.sectionContainer {
  border-radius: 20px;
  position: relative;
  width: 450px;
  height: 280px;
  background-color: #f5f5f5;
  box-shadow: 0 0 1em #e5e5e5;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 10px;

  .signinTitle {
    text-align: center;
    color: #142662;
  }

  .signinFrom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  label {
    margin-bottom: 0.5em;
    font-size: 1.05rem;

  }

  input {
    width: 400px;
    height: 3em;
    margin-bottom: 1em;
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    background-color: #e6e6e6;
    padding-left: 10px;
  }

  input:focus {
    background-color: #e8f0fe;
  }

  .LogBtn {
    text-transform: uppercase;
    font-size: 1.05rem;
    padding: 5px 10px;
    border-radius: 2em;
    background-color: #142662;
    color: #fff;
    cursor: pointer;
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 100px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}