.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    max-width: 990px;
    z-index: 30;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 5px;
  }
  
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alert-message {
    margin-bottom: 0;
    text-align: center;
  }
  
 