@import "../../global.scss";

.plannerAd {
    display: flex;
    width: 100%;
    max-width: 1015px;
    border: 7px solid white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    justify-content: center;

}

.PlannerAdVideo {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    filter: blur(2px) brightness(80%);
}

.PlannerAdContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90px;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.PlannerAdTitle {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}

.PlannerAdDetails {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}

.PlannerAdBtn {
    width: 150px;
    border: none;
    height: 35px;
    font-weight: 600;
    color: $buttonColor;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-out, color 0.1s ease-out 0.2s;

    &:hover {
        color: white;
        background-color: $buttonColor;
    }
}