@import "../../global.scss";

body {
    font-family: "Lato", sans-serif;
    font-family: "Outfit", sans-serif;
    background-color: #f5f5f5;
}

.hotelEdit {
    display: flex;
}

.hotelContainer {
    display: flex;
    flex: 6;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: $backgroundColor;
}

.hotelWrapper {
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 20px;
    background-color: $backgroundColor;
    flex-direction: column;
    position: relative;
}

.hotelTitle {
    text-align: center;
}

.hotelImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: white;
    padding: 10px;

    // gap: 10px calc(40px/3);
    .hotelImgWrapper {
        width: 25%;
        position: relative;
    }

    .hotelImg {
        width: 310px;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .addHotelImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 310px;
        height: 250px;
        background-color: #f5f5f5;
        border: none;
        border-radius: 15px;
    cursor: pointer;

        .imgUpload {
            text-align: center;
            width: 310px;
            height: 250px;
            opacity: 0;
            position: absolute;
            left: 10;
            bottom: 10;
    cursor: pointer;
        }

        .addHotelImgLabel {
            font-size: 25px;
            font-weight: 500;
            cursor: pointer;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #f5f5f5;

            .addImgIcon {
                font-size: 50px;
            }
        }

        .addHotelImgInput {
            display: none;
        }

        .DoneBtn {
            width: 120px;
            height: 35px;
            border: none;
            border-radius: 50px;
            color: white;
            text-align: center;
            background-color: $buttonColor;
            cursor: pointer;
        }
    }

    .ImageDeleteIcon {
        position: absolute;
        color: red;
        top: 2px;
        right: 15px;
        cursor: pointer;
        font-size: 30px;
    }
}

.NewHotelImg {
    width: 310px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 5px;
}

.HotelFeatures {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.inHotel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 180px;
    height: 135px;
    position: relative;
    gap: 5px;

    .amenitiesDeleteIcon {
        position: absolute;
        color: red;
        top: 1px;
        right: 2px;
        cursor: pointer;
    }
}

.FeaturesWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.featureTitle {
    text-align: center;
    font-size: 15px;
}

.featureImages {
    width: 60px;
    height: 60px;
    background-color: #fff;
}

.addHotelFeature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 195px;
    height: 135px;
    font-weight: 300;
    font-size: 100px;
    position: relative;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.aboutHotel {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    // margin-top: 5px;
}

.hotelDetailsTexts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0px;
}

.hotelDetailsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    button {
        margin: 0;
        padding: 0;
    }
}

.hotelDetailsEdit {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
}

.hotelDesc {
    font-size: 16px;
    margin-bottom: 20px;
}

.hotelDetailsSubmit {
    border: none;
    width: 70px;
    height: 30px;
    text-decoration: underline;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 25px;
    background-color: #142662;
    color: white;
    text-decoration: none;
}

.hotelDescInput {
    width: 100%;
    height: 100px;
}

.popup-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    width: 800px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    animation: fade-in 1s ease forwards;

    .ta {
        width: 740px;
        box-sizing: border-box;
        height: 7em;
        margin-bottom: 1em;
        border-radius: 10px;
        border: 1px solid #efefef;
        background-color: #f5f5f5;
        padding: 10px 0 0 10px;
        font-size: 1.05rem;
    }
}

.col {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    button {
        margin-right: 10px;
    }
}