@import "../../global.scss";

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-color: #f5f5f5;
}

.hotelEdit {
    display: flex;
}

.hotelContainer {
    display: flex;
    flex: 6;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: $backgroundColor ;
}

.hotelWrapper {
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 20px;
    background-color: $backgroundColor;
    flex-direction: column;
    position: relative;
}

.hotelTitle {
    text-align: center;
}

.hotelImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: white;
    padding: 10px;

    .hotelImgWrapper {
        width: 25%;
        position: relative;
    }

    .hotelImg {
        width: 310px;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .addHotelImg {
        width: 310px;
        height: 250px;
        background-color: rgb(225, 225, 225);
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-weight: 300;
        font-size: 100px;
    }

    .ImageDeleteIcon {
        position: absolute;
        color: red;
        top: 2px;
        right: 10px;
        cursor: pointer;
        font-size: 30px;
    }
}




.HotelFeatures {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.inHotel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 180px;
    height: 135px;
    position: relative;

    .amenitiesDeleteIcon {
        position: absolute;
        color: red;
        top: 1px;
        right: 2px;
        cursor: pointer;
    }
}

.FeaturesWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.featureTitle {
    text-align: center;
    font-size: 15px;
}

.featureImages {
    width: 60px;
    height: 60px;
    background-color: #fff;
}

.addHotelFeature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 152px;
    height: 135px;
    font-weight: 300;
    font-size: 100px;
    position: relative;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.aboutHotel {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.hotelDetailsTexts{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0px;
}

.hotelDetailsEdit{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
}
.hotelDesc {
    font-size: 16px;
    margin-bottom: 20px;
}