.hotelCardContainer {
  display: flex;
  flex: 3;
  background-color: white;
  width: 720px;
  height: 240px;
  border-radius: 10px;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  padding-right: 10px;

  .hotelCardLeft {
    display: flex;
    flex: 2;
    width: 100%;

    .hotelCardImg {
      width: 100%;
      height: 100%;
      border-radius: 10px 3px 3px 10px;
    }
  }

  .hotelCardCenter {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-bottom: 3px;

    // justify-content: space-between;
    .hotelCenterTop {
      padding-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom:10px;

      .hotelTitle {
        cursor: pointer;
        font-size: 20px;
        color: #003580;
        margin: 5px 0;
        text-align: left;
      }

      .hotelDistance {
        font-size: 15px;
        margin: 0;
      }
    }

    .hotelCenterBottom {
      display: flex;
      flex-wrap: wrap;
      gap: 7px;

      .hotelAmenity {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 29%;
        padding: 3px;
        font-weight: 500;
        font-size: 13px;

        .amenityIcon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .hotelCardRight {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .hotelRightTop {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      button {
        border-radius: 5px;
        background-color: #003580;
        color: white;
        padding: 5px;
        font-weight: bold;
        border: none;
      }
    }

    .hotelRightBottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hotelPrice {
        font-size: 15px;
        font-weight:500;
        color: #49D62F;
      }
    }
  }
}
.btn{
  margin:7px 0px;
}
.priceDetails {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap:3px;
  text-align:center;
  margin-bottom: 5px;

  p {
    padding: 0;
    margin: 0;
  }
}