@import "../../global.scss";

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-color: #f5f5f5;
}

.hotelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundColor ;
}


.hotelWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 10px;
    background-color: $backgroundColor;
    flex-direction: column;
    position: relative;
}

.hotelTitle {
    text-align: center;
    margin: 5px;
}

.sectionTitle {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hotelTop {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 10px;
    top: 100px;
}

.hotelRight {
    flex: 3;
}

.hotelLeft {
    flex: 1;
}


.hotelImages {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    padding: 10px;

    .hotelMainImg {
        width: 100%;
        margin-bottom: 10px;

        .mainImg {
            border-radius: 10px;
            width: 100%;
            height: 455px;
            cursor: pointer;
        }
    }

    .hotelSubImg {
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 15px;
    }
}


.hotelImg {
    width: 190px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.lastImg {
    position: relative;
    width: 190px;
    height: 150px;
}

.lastImgBtn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.seeMoreBtn {
    position: absolute;
    font-size: 20px;
    opacity: 0.8;
    width: 190px;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.seeMoreBtn:hover {
    opacity: 1;
}

.slider {
    position: sticky;
    top: 0;
    width: 98vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.613);
    z-index: 999;
    display: flex;
    align-items: center;

}

.sliderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderImg {
    width: 70%;
    height: 70vh;
    border-radius: 15px;
}

.close {
    position: absolute;
    top: 40px;
    right: 25px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: white;
    overflow: hidden;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
}

.arrow {
    background-color: rgb(0, 0, 0);
    margin: 20px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 35px;
    width: 40px;
    cursor: pointer;
    padding: 5px;
}

.aboutHotel {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.hotelDesc {
    font-size: 18px;
    font-weight: 400;
}

.HotelFeatures {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    text-align: center;
    align-items: center;
    width: 100%;
    flex: 3;
    position: relative;
}

.seeMoreHotelFeatures {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .seeMoreFeature {
        position: absolute;
        top: 92%;
        right: 25px;
        cursor: pointer;
        animation: move 1s infinite ease alternate;

        @keyframes move {
            from {
                transform: translateX(-5px);
            }

            to {
                transform: translateX(5px);
            }
        }
    }

    .seeMoreHotelImg {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 100%;
        right: 5px;
        cursor: pointer;
        animation: moveArrow 1s infinite ease alternate;
        
            @keyframes moveArrow {
                from {
                    transform: translateX(-5px);
                }
        
                to {
                    transform: translateX(5px);
                }
            }
    }

}

.inHotel {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 130px;
    position: relative;

}

.FeaturesWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.featureTitle {
    text-align: center;
    font-size: 15px;
}

.featureImages {
    width: 60px;
    height: 60px;
    background-color: #fff;
}

.hotelBottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.areaInfoContainer {
    display: flex;
    flex-direction: column;
    width: 800px;

    .Title {
        font-size: 20px;
    }

    .areaInfoOptions {
        display: flex;
        justify-content: space-between;
        width: 800px;
        gap: 20px;
    }

    .areaInfoOption {
        width: 250px;
        height: 200px;
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        h3 {
            font-size: 24px;
            padding: 0;
            margin: 0;
        }
    }

    .clickImg {
        width: 40px;
        height: 40px;
        animation: clickMove 1s infinite ease alternate;
        cursor: pointer;
    }

    @keyframes clickMove {
        from {
            transform: translateZ(-20px);
        }

        to {
            transform: translateZ(20px) scale(0.85);
        }
    }
}

.areaInfoImg {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.popup-content3 {
    width: 800px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: scroll;
    opacity: 0;
    animation: fade-in 1s ease forwards;
    padding: 20px;

    h2 {
        color: #142662;
        text-align: center;
    }

    .areaOptionContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
            font-size: 24px;
            padding: 5px;
        }
    }

}

.roomsBtn {
    padding: 10px;
    background-color: $buttonColor;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15pc;
    border: 7px solid white;
    margin-bottom: 5px;
}

.roomCards {
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.buttonArrow {
    margin-right: 1px;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;

}

.cardCounter {
    margin-right: 1px;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: white;
    font-size: large;
    font-weight: 600;
}

.iconArrow {
    width: 30px;
    height: 30px;
}

.lol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locationHeading {
    background-color: #fff;
    border-radius: 15px;
    width: 264.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}