body {
  background-color: #f5f5f5;
}

.Room {
  display: flex;
    flex-direction: column;
    width: 310px;
    height: 360px;
    border: 10px solid white;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    position: relative;
  
    .roomImg {
      width: 100%;
      height: 200px;
    }
  

  .roomIcon {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  .BookIcon {
    width: 15px;
    height: 15px;
  }
}

.roomBottom {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .roomInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 50px;
    height: 40px;
    width: 290px;
    padding-left: 20px;
    gap: 50px;
    margin-top: 10px;
  }

  .roomSize,
  .numberOfPeople {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-size: small;
    }
  }
.roomHeader{
  display: flex;
  flex-direction: column;
}
.roomName{
  text-align: center;
  margin: 10px 0px 0px 0px;

  
}
.roomPricePerNight{
  margin:5px;

  span {
      font-weight: 300;
      color: #49D62F;
    }
}
  .roomPrice {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    button {
      border: none;
      background-color: #142662;
      color: white;
      border-radius: 50px;
      display: flex;
      align-items: center;
      gap: 5px;
      width: 110px;
      justify-content: center;
      height: 40px;
      cursor: pointer;
      font-size: 17px;
    }

   span{
    color: #49D62F;
   }
  }
}
// color: #49D62F;